################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VisualTreeHelper.WPF/obj
/src/VisualTreeHelper.WPF/bin
/src/.vs/