################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Xamarin.VisualStudio.Apex.Tests/obj
/src/Xamarin.VisualStudio.Apex.Core/obj
